:root {
  --theme-primary: #617884;
  --theme-accent: #447823;
  --theme-warn: #f85c00;
  --theme-on-primary: #FFF;
  --theme-on-accent: #FFF;
  --theme-on-warn: #fff;
  --foreground: #E0E0E0;
  --background: #263238;

  --svg-foreground: #E0E0E0;

  --foreground-hover: #dfdfdf;


  --default-bezier: cubic-bezier(0.4, 0.0, 0.2, 1);
  --decelerate-bezier: cubic-bezier(0.0, 0.0, 0.2, 1);
  --accelerate-bezier: cubic-bezier(0.4, 0.0, 1, 1);

  --elevation-1: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  --elevation-2: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
  --elevation-3: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
  --elevation-4: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: sans-serif;

  width: 100vw;
  height: 100vh;

  overflow-x: hidden;

  background-color: var(--background);
  color: var(--foreground);
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3.75rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.125rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.125rem;
}

button {
  background-color: transparent;
  color: var(--theme-on-primary);
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  text-transform: uppercase;
  font-size: 1.125rem;
}

button.nav-button {

  width: 100%;

  color: var(--theme-on-accent);
  border: 1px solid hsla(0, 0%, 0%, 0);

  transition: border-color 250ms  var(--decelerate-bezier);
}

button.nav-button:hover {
  border-color: hsla(0, 100%, 100%, 100%);
}

button.nav-button:not([data-src]) {
  pointer-events: none;
  cursor: default;
  filter: contrast(.5);
  background-color: rgb(61, 61, 61);
}

iframe {
  border: none;
}

input {
  width: 100%;
}

table {
  table-layout: fixed;
  width: 100%;
}

textarea {
  resize: vertical;
  width: 100%;
}

.title {
  text-align: center;
}

.card {
  background-color: var(--theme-on-accent);
  color: var(--theme-accent);

  padding: 1rem;

  box-shadow: var(--elevation-2);

  border-radius: 0.25rem;
}

.card button {
  color: var(--theme-accent);
}

.container-md {
  margin: auto;
  max-width: 40rem;
  margin-top: 2rem;
}

.tab-container {
  border-bottom: 1px solid #bbb;
  margin-bottom: 0.5rem;  
}

.tab-container > .tab.active {
  transform: translateY(1px);
  background-color: #fff;
  border-top: 1px solid #bbb;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
}

.tab-content > [data-tab-display] {
  display: none;
}

.tab-content > [data-tab-display].active {
  display: unset;
}

.tab-content > table[data-tab-display].active {
  display: table;
}

.accordion {
  position: relative;
}

.accordion > input {
  display: none;
}

.accordion > label {
  display: block;
  font-weight: bold;
  cursor: pointer;

  position: relative;
}

.accordion > label::after {
  content: "\25b6";
  position: absolute;
  right: 10px;
  top: -2px;
  display: block;
  transition: all 0.5s;
}

.accordion > .accordion-content {
  overflow: hidden;
  transition: max-height 0.3s;
  max-height: 0;
}

.accordion > input:checked ~ .accordion-content {
  max-height: 100vh;
}

.accordion input:checked ~ label::after { transform: rotate(90deg); }

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.overlay-container {
  position: relative;
}

.overlay {
  transform: scale(0);
  opacity: 0;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}